$globe-width:   20px;
$globe-height:  20px;
$globe-spacing: 20px;
$globe-spread: 3px;
$light-off-opacity: 0.4;
.garland-wrapper {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
}

.lightrope {
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;

  .lights {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;

    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
  }

  .multicolor-lights {
    background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
    animation-name: blue-flash;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: green-flash;
      animation-duration: 0.8s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: red-flash;
      animation-duration: 1.1s;
    }
    &:nth-child(6n+3) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: yellow-flash;
      animation-duration: 1.1s;
    }
  }
  .green-lights {
    background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
    animation-name: green-flash;
    animation-duration: 0.9s;

  }
  .blue-lights {
    background: rgba(0,255,75,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,75,0.5);
    animation-name: blue-flash;
    animation-duration: 2s;
  }
  .red-lights {
    background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
    animation-name: red-flash;
    animation-duration: 1.1s;
  }
  .yellow-lights {
    background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
    animation-name: yellow-flash;
    animation-duration: 1.1s;
  }
}
@keyframes green-flash {
  0%, 100% { background: rgba(0,255,0,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,0,1);}
  50% { background: rgba(0,255,0,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,0,0.2);}
}
@keyframes blue-flash {
  0%, 100% { background: rgba(0,75,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,75,255,1);}
  50% { background: rgba(0,75,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,75,255,0.2);}
}
@keyframes red-flash {
  0%, 100% { background: rgba(255,0,0,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(255,0,0,1);}
  50% { background: rgba(255,0,0,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(255,0,0,0.2);}
}
@keyframes yellow-flash {
  0%, 100% { background: rgba(255,255,0,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(255,255,0,1);}
  50% { background: rgba(255,255,0,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(255,255,0,0.2);}
}

.lightrope1 {
  top: 24%; left: 50%;
  transform: translate(-5%,75%);
}
.lightrope2 {
  top: 35%; left: 46%;
  transform: translate(-5%,75%);
}
.lightrope3 {
  top: 50%; left: 41%;
  transform: translate(-5%,75%);
}
.lightrope4 {
  top: 66%; left: 29%;
  transform: translate(-5%,75%);
}
.lightrope5 {
  top: 78%; left: 28%;
  transform: translate(-5%,75%);
}

