.range-container {
}
.range-item-container {
}
.range-amount {
}
.range-item-text {
}
.range-amount-text-container {
  margin-top: 10px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.range-amount-text {
}
.range-year {
}
.slider-amount,.slider-year {
  width: 92%;
  margin: 0 auto;
}
