.toys-title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 46px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toys-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.favorite-count-container {
  margin-right: 60px;
}
.favorite-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: white;
}
