.toys-item {
  width: 222px;
  height: 342px;
  background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.toys-item-title {
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: white;
}
.toys-item-img {
  align-self: center;
  justify-self: center;
  width: 85px;
  height: 106px;
  background-size: cover;
  background-position: center;
}
.toys-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.toys__info__text {
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
